<p id="notice"><%= notice %></p>

<p>
  <b>Vorname:</b>
  <%= @debt.Vorname %>
</p>

<p>
  <b>Nachname:</b>
  <%= @debt.Nachname %>
</p>

<p>
  <b>Betrag:</b>
  <%= @debt.Betrag %>
</p>

<p>
  <b>Info:</b>
  <%= @debt.info %>
</p>


<%= link_to 'Edit', edit_debt_path(@debt) %> |
<%= link_to 'Back', debts_path %>
