<%- model_class = Friend -%>


    <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
      </div>
    <% end %>
  </div>



<div class="well sidebar-nav">
<div class="page-header">
  <h1><%=t '.Deine Freunde' %></h1>
</div>
<table class="table table-striped">  
  
    <tr>  
  <th><%= model_class.human_attribute_name(:Person) %></th>
  </tr>  
  <% for friend in current_user.friends%>
  <%if friend.accepted == true%>  

  <% freund = User.where(id: friend.friend_id).first%>


      <tbody>
      <td><%=h freund.firstname%> <%=freund.lastname%></td>
      <td><%= image_tag freund.photo.url(:tiny)  %> </td>
      <td><%= link_to " Profil anzeigen", user_path(:id => freund), :method => :get , :class => 'btn icon-user'%>
        <%= link_to " Nachricht senden", new_nachrichten_path(:sentto => freund), :method => :get, :class =>'btn icon-envelope'%>
      <%= link_to " Freundschaft beenden ", friend, :method => :delete , :class => 'btn btn-danger icon-remove'%>  </td></tr>
   <%end%>
   <%end%>
    
   
  <!-- inverse suche-->
   <% for friend in current_user.inverse_friends%>
  <%if friend.accepted == true%>  
  <% freund = User.where(id: friend.user_id).first%>
 
 
     
      <td><%=h freund.firstname%> <%= freund.lastname%></td>
      <td><%= image_tag freund.photo.url(:tiny)  %> </td>
      <td><%= link_to " Profil anzeigen ", user_path(:id => freund), :method => :get , :class => 'btn icon-user'%>
        <%= link_to " Nachricht senden", new_nachrichten_path(:sentto => freund), :method => :get, :class =>'btn icon-envelope'%>
      <%= link_to " Freundschaft beenden", friend, :method => :delete , :class => 'btn btn-danger icon-remove'%> </td>
   <%end%>
  </tr>
  <%end%>
  </tbody>
  
</table>
</div>
<!-- Freundschaftsanfragen-->
<div class="well sidebar-nav">
<div class="page-header">
  <h1><%=t '.Freundschaftsanfragen' %></h1>
</div>

<table class="table table-striped">
     
      
      <tr>
      <th><%= model_class.human_attribute_name(:Person) %></th>
      
  <% typ = Friend.where(friend_id: current_user.id)%>
  <%typ.all.each do |type|%>
  <%if type.accepted == false%> 
      <% user = User.where(id:  type.user_id).first%>

      <tbody>
    <td>  <%= user.firstname %> <%=user.lastname%></td>
    <td><%= image_tag user.photo.url(:tiny)  %> </td>
    <td> <%= link_to " Profil anzeigen", user_path(:id => user), :method => :get , :class => 'btn icon-user '%>
      <%= link_to " Nachricht senden", new_nachrichten_path(:sentto => user), :method => :get, :class =>'btn icon-envelope'%>
    <%= link_to " annehmen", type, :method => :put, :class => 'btn btn-success icon-ok' %>  
    <%= link_to " ablehnen", type, :method => :delete, :class => 'btn btn-danger icon-remove'%></td>
      <%end%>
      </tbody>
    <%end%>

</table>
</div>
<!-- Ausstehende Freundschaftsanfragen-->
<div class="well sidebar-nav">
<div class="page-header">
  <h1><%=t '.Ausstehende Freundschaftsanfragen' %></h1>
</div>
<table class="table table-striped">
  <tr>   
  <th><%= model_class.human_attribute_name(:Person) %></th>
      </thead>
      <% for friend in current_user.friends%>
      <%if friend.accepted == false%>  
      <% freund = User.where(id: friend.friend_id).first%>
      <tbody>
      <td><%= freund.firstname%> <%= freund.lastname%> </td>
      <td><%= image_tag freund.photo.url(:tiny)  %> </td>
       <td> <%= link_to " Profil anzeigen", user_path(:id => freund), :method => :get, :class => 'btn icon-user' %> <%= link_to "Nachricht senden", new_nachrichten_path(:sentto => freund), :method => :get, :class =>'btn icon-envelope'%> 
        <%= link_to " Anfrage stornieren", friend, :method => :delete , :class => 'btn btn-danger icon-remove'%></td>
  <%end%>
  <% end %>
</tr>
 </tbody>
 </table>
</div>

   <p><%= link_to " Freunde finden", new_friend_path , :class => 'btn btn-success icon-user',:id => "freundefinden" %></p>
