<%- model_class = Friend -%>
<div class="well sidebar-nav">
<div class="page-header">
  <h1><%=t '.Freunde hinzufügen', :model => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <% if current_user %>
    <thead> 
      <tr>
      <th><%= model_class.human_attribute_name(:Vorname) %></th>
      <th><%= model_class.human_attribute_name(:Nachname) %></th>
      </thead>
    <% user = User.where('id Not like ?', "#{current_user.id}")%>
    <tbody>
    <% user.all.each do |benutzer| %>
      
      <%if Friend.where('user_id like ? AND friend_id like ?', "#{current_user.id}","#{benutzer.id}").exists?%>
      <%elsif Friend.where('friend_id like ? AND user_id like ?', "#{current_user.id}","#{benutzer.id}").exists?%> 
      <%else%>
        <td><%= benutzer.firstname %></td>
        <td><%= benutzer.lastname %></td>
        <td> <%= image_tag benutzer.photo.url(:tiny)  %></td>
        <td><%= link_to " Profil anzeigen", user_path(:id => benutzer), :method => :get, :class => 'btn icon-user' %>
        <%= link_to "Als Freund hinzufügen", friends_path(:friend_id => benutzer), :method => :post, :class => 'btn btn-success' %></td>
      <%end%>
  </tbody>
      </tr>
    <%end%>
  <%end%>
</table>
<p><%= link_to " Zurück", friends_path , :class => 'btn ' %></p>
</div>

