<%- model_class = Friend -%>
<div class="well sidebar-nav">
<div class="page-header">
  <h1><%=t '.Freunde hinzufügen', :model => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <% if current_user %>
    <thead> 
      <tr>
      <th><%= model_class.human_attribute_name(:Vorname) %></th>
      <th><%= model_class.human_attribute_name(:Nachname) %></th>
      </thead>
      <!-- hier muss not like hin-->
    <% user = User.find(:all)%>
   
    <tbody>

    <% user.each do |benutzer| %>
      <%if Friend.where(user_id: current_user.id, friend_id: benutzer.id).exists?%>
      <%elsif Friend.where(friend_id: current_user.id, user_id: benutzer.id).exists?%> 

      <%else%>
      <%if current_user.email == benutzer.email%>
      
      <%else%>
      <td><%= benutzer.firstname %></td>
      <td><%= benutzer.lastname %></td>
      <%if benutzer.photo_file_name.blank? %>
      <td><img src="/assets/missing_small.png"   /> </td>
      <%else%>
      <td><%= image_tag benutzer.photo.url(:tiny)  %> </td>
      <%end%>
      <td><%= link_to " Profil anzeigen", user_path(:id => benutzer), :method => :get, :class => 'btn icon-user' %>
            <%= link_to "Als Freund hinzufügen",  friends_path(:friend_id => benutzer), :method => :post, :class => 'btn btn-success', :id => "freundehinzufuegen"%></td>

      <%end%>

  </tbody>
      </tr>
      <%end%>
    <%end%>
  <%end%>
</table>
<p><%= link_to " Zurück", friends_path , :class => 'btn ' %></p>
</div>

