<%- model_class = User -%>
<div class="well sidebar-nav">
<div class="page-header">
  <%if current_user.photo.url%>
  
  <%else%><h1><%= image_tag current_user.photo.url(:small) %></h1> 
  <%end%>
  <h1><%=t @user.firstname%> <%=@user.lastname%></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Email) %>:</strong></dt><dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Geburtstag) %>:</strong></dt><dd><%= @user.dateofbirth.day%>.<%= @user.dateofbirth.month%>.<%= @user.dateofbirth.year%></dd>
  <dt><strong><%= model_class.human_attribute_name(:Adresse) %>:</strong></dt><dd><%= @user.adress %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Postleitzahl) %>:</strong></dt><dd><%= @user.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Stadt) %>:</strong></dt><dd><%= @user.city %></dd>
</dl>


<% if @user.id == current_user.id%>
  <%= link_to " Profil bearbeiten", edit_user_registration_path, :class => 'btn icon-tasks'  %><br>
<%else%>
<%friend = Friend.where(user_id: current_user.id ,friend_id: @user.id).first%>

	
<div class="form-actions">
<%friend = Friend.where(user_id: current_user.id , friend_id: @user.id).first%>
<% if friend%>
		<% if friend.accepted == true%>
  <%= link_to t('. Freundschaft beenden'), friend, :method => :delete, :class => 'btn btn-danger icon-remove', :id=>"freundschaftbeenden" %>
  	<%else%>
  <%= link_to " Anfrage stornieren",  friend, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))}, :class => 'btn btn-danger icon-remove' %>
	<%end%>
<% else%>
<%friend1 = Friend.where(user_id: @user.id , friend_id: current_user.id).first%>
	<% if friend1%>
		<% if friend1.accepted == true%>
<%= link_to t('. Freundschaft beenden'),  friend1, :method => :delete, :id => 'beenden', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))}, :class => 'btn btn-danger icon-remove' %>
		<%else%>
    <%= link_to " annehmen", friend1, :method => :put, :class => 'btn btn-success icon-ok' %> 
    <%= link_to " ablehnen",  friend1, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},:class => 'btn btn-danger icon-remove' %>
		<%end%>
	<%else%>
<%= link_to t('. Als Freund hinzufügen'),  friends_path(:friend_id => @user), :method => :post , :class => 'btn btn-success icon-user' %>
<%end%>
<%end%>
<%= link_to " Nachricht senden", new_nachrichten_path(:sentto => @user), :method => :get, :class =>'btn icon-envelope', :id=>"nachrichtsenden"%>
<%= link_to t('. zurück'), friends_path, :class => 'btn icon-arrow-left'  %>
</div>
</div>
<%end%>