<%- model_class = User -%>
<div class="page-header">
  <h1><%= image_tag current_user.photo.url(:small) %>  <%=t @user.firstname%> <%=@user.lastname%></h1> 
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>

  <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
  <dd><%= @user.firstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
  <dd><%= @user.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adress) %>:</strong></dt>
  <dd><%= @user.adress %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dateofbirth) %>:</strong></dt>
  <dd><%= @user.dateofbirth %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @user.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @user.zip %></dd>
</dl>


<% if @user.id == current_user.id%>
  <%= link_to "Profil bearbeiten", edit_user_registration_path%><br>
<%else%>
<%friend = Friend.where(user_id: current_user.id and friend_id: @user.id).first%>

	
<div class="form-actions">
<%friend = Friend.where(user_id: current_user.id and friend_id: @user.id).first%>
<% if friend%>
		<% if friend.accepted == true%>
  <%= link_to t('.Freundschaft beenden'), friend, :method => :delete, :class => 'btn'  %>
  	<%else%>
  <%= link_to t('.Anfrage stornieren'),  friend, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))}, :class => 'btn btn-danger' %>
	<%end%>
<% else%>
<%friend = Friend.where(user_id: @user.id and friend_id: current_user.id).first%>
	<% if friend1%>
		<% if friend1.accepted == true%>
<%= link_to t('.Freundschaft beenden'),  friend1, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))}, :class => 'btn btn-danger' %>
		<%else%>
<%= link_to t('.Anfrage ablehnen'),  friend1, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},:class => 'btn btn-danger' %>
		<%end%>
	<%else%>
<%= link_to t('.Als Freund hinzufügen'),  friends_path(:friend_id => @user), :method => :post , :class => 'btn btn-success' %>

<%end%>
<%end%>
<%= link_to t('.zurück'), friends_path, :class => 'btn'  %>
</div>

<%= link_to "Nachricht senden", new_nachrichten_path(:sentto => @user), :method => :get%><br>
<%end%>
<%= link_to 'zurück', friends_path %>
