<%= form_for @nachrichten, :html => { :class => 'form-horizontal' } do |f| %>
   <% if @nachrichten.errors.any? %>
    <div id="error_explanation">
      <h2>Eintrag konnte nicht erstellt werden! <%= @nachrichten.errors.count %> Fehler wurden gefunden </h2>

      <ul>
      <% @nachrichten.errors.full_messages.each do |msg| %>
      
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
   <div class="control-group">
    <div class="field">
      <%if current_user%>
      <%= f.hidden_field :sentby, :value=> current_user.id %><br>
      <%else%>
      <% dummy = User.where(email: "dummy@paymeback.de").first%>
      <%= f.hidden_field :sentby, :value=>dummy.id  %><br>
      <%end%>
  </div>
</div>

  <% user = User.where(id: @sentto).first%>  
  <div class="control-group">
    <%= f.label :Empfänger, :class => 'control-label' %>
    <%if current_user%>    
    <%= f.label :title, user.firstname + " " + user.lastname , :class => 'control-label' %>
    <%else%>
      <%= f.label :title, "Administrator" , :class => 'control-label' %>
      <%end%>
    <div class="field">
    <%= f.hidden_field :sentto, :value=> @sentto %><br>
  </div>
  </div>

  <div class="control-group">
    <%= f.label :Betreff, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :topic,:value=> @topic , :class => 'text_area', :id=>'topic' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :Nachricht, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body,  :size => "50x10", :class => 'text_area', :id=>'body' %>
    </div>
  </div>  

  <div class="form-actions">
    <%= f.submit 'Senden', :class => 'btn btn-success', :id =>'senden'%>
    <%= link_to t('.Zurück'),
                nachrichtens_path, :class => 'btn ' %>
  </div>
<% end %>
