<%- model_class = Nachrichten -%>
<div class="page-header">
  <h1><%=t '.Nachrichten Details' %></h1>
</div>
<%user1 = User.where('id like ?', "#{@nachrichten.sentby}").first%>
<%user2= User.where('id like ?', "#{@nachrichten.sentto}").first%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Absender) %>:</strong></dt>
  <dd><%= user1.firstname  %> <%= user1.lastname  %> <%= image_tag current_user.photo.url(:small) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Betreff) %>:</strong></dt>
  <dd><%= @nachrichten.topic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nachricht) %>:</strong></dt>
  <dd><%= @nachrichten.body %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Gelesen) %>:</strong></dt>
  <dd><%= @nachrichten.read %></dd>
</dl>

<div class="form-actions">
  <%if user2.id == current_user.id%>
  <%= link_to 'Antworten', edit_nachrichten_path ,:class => 'btn btn-primary'%>
<%end%>
  <%= link_to t('.Zurück'),              nachrichtens_path, :class => 'btn'  %>
 </div>
