<%- model_class = Nachrichten -%>


<div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
      </div>
    <% end %>
  </div>

<div class="well sidebar-nav">
<div class="page-header">
  <h1><%=t '.Nachrichten Details' %></h1>
</div>
<%user1 = User.where(id: @nachrichten.sentby).first%>
<%user2= User.where(id: @nachrichten.sentto).first%>

<dl class="dl-horizontal">
  <%if @nachrichten.sentto ==current_user.id%>
  <dt><strong><dt><strong><%= model_class.human_attribute_name(:Sender) %>:</strong></dt>
  <dd><%= user1.firstname %> <%= user1.lastname %> <%if user1.photo_file_name.blank? %>
      <img src="/assets/missing_small.png"   />
      <%else%>
      <%= image_tag freund.photo.url(:tiny)  %>
      <%end%></dd>
  <%else%>
  <dt><strong><%= model_class.human_attribute_name(:Empfänger) %>:</strong></dt>
  <dd><%= user2.firstname  %> <%= user2.lastname  %> <%if user1.photo_file_name.blank? %>
      <img src="/assets/missing_small.png"   />
      <%else%>
      <%= image_tag freund.photo.url(:tiny)  %>
      <%end%></dd>
  <%end%>
  <dt><strong><%= model_class.human_attribute_name(:Betreff) %>:</strong></dt>
  <dd><%= @nachrichten.topic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Nachricht) %>:</strong></dt>
  <dd><%= @nachrichten.body %></dd>
</dl>

<div class="form-actions">
  <%if user2.id == current_user.id%>
  <%= link_to 'Antworten', edit_nachrichten_path ,:class => 'btn btn-primary', :id =>"beantworten"%>
<%end%>
  <%= link_to t('.Zurück'),nachrichtens_path, :class => 'btn'  %>
 </div>
</div>
