
<% admin = User.where(email: "admin@admin.de").first%>
<% dummy = User.where(email: "dummy@admin.de").first%>

<h2>Anmelden</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<%=f.error_messages%>
  <div><%= f.label :email %>
  <%= f.email_field :email,:id => "email", :autofocus => true %></div>
<br />
  <div><%= f.label :passwort %>
  <%= f.password_field :password,:id => "password" %></div>
<br />
  <% if devise_mapping.rememberable? -%>
    <div><%= f.label :angemeldet_bleiben %> <%= f.check_box :remember_me %> </div>
  <% end %>
<br />
  <div ><%= f.submit "Jetzt Anmelden", :class => 'btn  btn-success '  %> <br/><br/>
  <%= link_to " Passwort vergessen? ", new_password_path(resource_name),:class => 'btn  btn-warning icon-question-sign' %><br /> </div><br/>
 <% if admin.blank?%>

 <%else%>
  <%= link_to " Administrator Kontaktieren ", new_nachrichten_path(:sentto => admin.id), :method => :get, :class =>'btn icon-envelope'%>
  <% end %>
<% end %>


