<%= form_for(@debit) do |f| %>
  <% if @debit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit.errors.count, "error") %> prohibited this debit from being saved:</h2>
<%= stylesheet_link_tag "reset", "layout", "themes/base/jquery.ui.all" %>
<%= javascript_include_tag "jquery.ui.core", "jquery.ui.widget", "jquery.ui.position", "jquery.ui.autocomplete" %>

      <ul>
      <% @debit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
  

    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
      <script>

      
  $(function() {
 
    $( "#project" ).autocomplete({
      minLength: 0,
      source: <%= raw "#{@Fullname.to_json}" %>,
     focus: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#email" ).val( ui.item.email );
        $( "#betrag" ).val( ui.item.label );
        $( "#project-icon" ).attr( "src", "public" + ui.item.icon );
 
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label  +" " + item.icon + "</a>" )
        .appendTo( ul );
    };
  }); 
</script>


<%= image_tag  :src => "images/transparent_1x1.png" ,:id => "project-icon"%>

<%= f.text_field :emailcurrentuser, :value => current_user.email%>
    
   
  </div>
    <%= f.label :emailuser2 %><br />
    <%= f.text_field :emailuser2, :id => "email"%>
  </div>

    <div class="filed">
  <%= f.label :Freund %><br />
   <%= f.text_field :firstname, :id => "project" %>






<!--<%= image_tag "users/23/small/ich5.JPG" %>-->
  <div class="field">
    <%= f.label :betrag %><br />
    <%= f.text_field  :betrag %>
  </div>
  <div class="field">
    <%= f.label :datum %><br />
    <%= f.date_select :datum %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info, :id => "info" %>
  </div>
  <div class="field">
    <%= f.label :gezahlt %><br />
    <%= f.check_box :gezahlt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
