<%= form_for(@debit) do |f| %>
  <% if @debit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit.errors.count, "error") %> prohibited this debit from being saved:</h2>

      <ul>
      <% @debit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Vorname %><br />
    <%= f.text_field :Vorname %>
  </div>
  <div class="field">
    <%= f.label :Nachname %><br />
    <%= f.text_field :Nachname %>
  </div>
  <div class="field">
    <%= f.label :Betrag %><br />
    <%= f.text_field :Betrag %>
  </div>
  <div class="field">
    <%= f.label :Datum %><br />
    <%= f.datetime_select :Datum %>
  </div>
  <div class="field">
    <%= f.label :Info %><br />
    <%= f.text_area :Info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
