<%= form_for(@debit) do |f| %>
  <% if @debit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debit.errors.count, "error") %> prohibited this debit from being saved:</h2>

      <ul>
      <% @debit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :emailcurrentuser %><br />-->
    <%= f.hidden_field :emailcurrentuser, :value => current_user.email%>
   
  <!--</div>-->
  <div class="field">
    <%= f.label :Freund %><br />
    <%= f.text_field :firstname, :autocomplete => "off", :data => { :provide => 'typeahead', :items => "8",  :source => "#{@firstname.to_json}" }  %>

    <%= @friend3 %>
    
    <%= f.label :emailuser2 %><br />
    <%= f.hidden_field :emailuser2, :value => current_user.email%>
  </div>

<%= select_tag 'firstname[]', options_for_select( @firstname ), { :multiple => false,:size => 15, :style  => "width:250px" } 
        %>

<!--<%= image_tag "users/23/small/ich5.JPG" %>-->
  <div class="field">
    <%= f.label :betrag %><br />
    <%= f.text_field :betrag %>
  </div>
  <div class="field">
    <%= f.label :datum %><br />
    <%= f.date_select :datum %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="field">
    <%= f.label :gezahlt %><br />
    <%= f.check_box :gezahlt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
