
<%- model_class = Debit -%>

    <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
      </div>
    <% end %>
  </div>
 

<div class="page-header">
  <h1><%=t '.Zahlungsübersicht' %></h1>
</div>
<a href='/debits/?art=history'>History</a> <a href='/debits'>Zusammenfassung</a>
<div class="well sidebar-nav">
    <% debittest = Debit.where(emailcurrentuser: current_user.email)%>
      <% if debittest.blank?%>
        <h1>Bisher haben Sie kein Geld geliehen oder verliehen </h1>

      <%else%>
    

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Person) %></th>
      <th><%= model_class.human_attribute_name(:Verliehen) %></th>
      <th><%= model_class.human_attribute_name(:Geliehen) %></th>
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>

  </thead>
  <tbody>
<%if params[:art].present?%>
      <% @debits.each do |debit| %>
      <% freund = User.where(email: debit.emailuser2).first%>
      <tr>
      <td><a href='/users/<%=freund.id%>'><%= freund.firstname+' '+freund.lastname %></td>
      <% if debit.art=='Verliehen'%>
            <td><%= link_to debit.betrag, debit, {:style=>'color:green;'}%></td>
            <td></td>
            <%if debit.gezahlt == true%>
              <td>Gezahlt!</td>
            <%else%>
              <td>Offen</td>
            <%end%>
            <td><%=debit.faelligkeit.to_formatted_s(:short)%></td>
            <td><%= link_to " Details ", debit,  :class => 'btn icon-info-sign'%>
             <%= link_to t('.Löschen'), debit,:method => :delete,  :data => { :confirm =>  'Are you sure?' }, :class => 'btn btn-danger' %> </td>
            <td></td>
            <% else %>
            <td></td>
            <td><%= link_to debit.betrag, debit, {:style=>'color:red;'}%></td>
            <%if debit.gezahlt == true%>
              <td>Gezahlt!</td>
            <%else%>
              <td>Offen</td>
            <%end%>
            <td><%=debit.faelligkeit.to_formatted_s(:short)%></td>
            <td><%= link_to " Details ", debit,  :class => 'btn icon-info-sign'%>
              <%= link_to t('.Löschen'), debit,:method => :delete,  :data => { :confirm =>  'Are you sure?' }, :class => 'btn btn-danger' %> </td>  
        <% end %>
      <% end %>  

<%else%>

<%if params[:user].present? or params[:art].present?%>
      <% @debits.each do |debit| %>
      <% freund = User.where(email: debit.emailuser2).first%>
      <tr>
      <td><a href='/users/<%=freund.id%>'><%= freund.firstname+' '+freund.lastname %></td>
      <% if debit.art=='Verliehen'%>
            <td><%= link_to debit.betrag, debit, {:style=>'color:green;'}%></td>
            <td></td>
            <td><%= link_to " Details ", debit,  :class => 'btn icon-info-sign'%>
             <%= link_to t('.Löschen'), debit,:method => :delete,  :data => { :confirm =>  'Are you sure?' }, :class => 'btn btn-danger' %> </td>
            <td></td>
            <% else %>
            <td></td>
            <td><%= link_to debit.betrag, debit, {:style=>'color:red;'}%></td>
            <td><%= link_to " Details ", debit,  :class => 'btn icon-info-sign'%>
              <%= link_to t('.Löschen'), debit,:method => :delete,  :data => { :confirm =>  'Are you sure?' }, :class => 'btn btn-danger' %> </td>  
        <% end %>
      <% end %>  

<%else%>
    <% @debits.each do |key, val| %>
    <% freund = User.where(email: key).first%>
    <tr>
      <td><a href='/users/<%=freund.id%>'><%= freund.firstname+' '+freund.lastname %></td>
      <% if val>0%>
            <td><a href='/debits/?user=<%=key%>' style='color: green;' ><%= val.to_s+'€'%></td>
            <td></td>
            <td><a href='/debits/?user=<%=key%>'  class = 'btn icon-info-sign' > <%=" Detailübersicht "%></td>
            <td></td>
            
            <%else%>
            <td></td>
            <td><a href='/debits/?user=<%=key%>' style='color: red;' ><%= val.to_s+'€'%></td>
            <td><a href='/debits/?user=<%=key%>'  class = 'btn icon-info-sign' > <%=" Detailübersicht "%></td>

        <%end%>     
   <%end%>
   <%end%>

               
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
</div>

<div class="well sidebar-nav">
<% if @debitfriendsall.blank?%>
<p><%= link_to t('.Neuer Eintrag', ), nil,:class => 'btn btn-success  disabled' %></p>
   <p>Neuer Eintrag nicht möglich da Sie noch keine Freunde in Ihrer Freundesliste haben!</p>
   <p><%= link_to " Freunde finden", new_friend_path , :class => 'btn btn-success icon-user' %></p>
 <%else%>
<%= link_to t('.Neuer Eintrag', ), new_debit_path,:class => 'btn btn-success' %>
<%end%>
</div>
