
<%- model_class = Debit -%>
<div class="page-header">
  <h1><%=t '.Zahlungsübersicht' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Person) %></th>
      <th><%= model_class.human_attribute_name(:Verliehen) %></th>
      <th><%= model_class.human_attribute_name(:Geliehen) %></th>
      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th>-->
    </tr>

  </thead>
  <tbody>

  <% @debits.each do |key, val|%>
  <tr>
    
        <% if val>0%>
            <td><a href='/debits/?user=<%=key%>' style='color: green;' ><%= val.to_s+'€'%></td>
            <td></td>
          <%else%>
            <td></td>
            <td><a href='/debits/?user=<%=key%>' style='color: red;' ><%= val.to_s+'€'%></td>
            <%end%>     
        
       
            <td><%= link_to val, {:style=>'color:green;'}%></td>
            <td></td>
        
            <td></td>
            <td><%= link_to val, {:style=>'color:red;'}%></td>
        

        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.Neuer Eintrag', ), new_debit_path,:class => 'btn btn-success' %>

