<h1>Listing debits</h1>

<table>
  <tr>
    <th>Emailuser2</th>
    <th>Betrag</th>
    <th>Datum</th>
    <th>Info</th>
    <th>Gezahlt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debits.each do |debit| %>
  <tr>
    <td><%= debit.emailuser2 %></td>
    <td><%= debit.betrag %></td>
    <td><%= debit.datum %></td>
    <td><%= debit.info %></td>
    <td><%= debit.gezahlt %></td>
    <td><%= link_to 'Show', debit %></td>
    <td><%= link_to 'Edit', edit_debit_path(debit) %></td>
    <td><%= link_to 'Destroy', debit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debit', new_debit_path %>
