<h1>Zahlungsübersicht</h1>

<%= link_to 'History', debits_path(:art => "history") %>
<%= link_to 'Alle', debits_path %>

<%= @sumforUser %>


<table id='hor-minimalist-b'>
<tr>
    <th>Person</th>
    <th>Verliehen</th>
    <th>Geliehen</th>
</tr>
<% @debits.each do |debit| %>
<% freund = User.where('email like ?',debit.emailuser2).first%>
  <tr>
    <td><a href='/debits/?user=<%=debit.emailuser2%>'><%= freund.firstname+' '+freund.lastname %></td>
    <% if debit.art=='Verliehen'%>
        <td id='verliehen'><%= link_to debit.betrag.to_s+'€', debit%></td>
        <td></td>
    <%else%>
        <td>
        <td id='geliehen'><%= link_to debit.betrag.to_s+'€', debit%></td>
    <%end%>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Debit', new_debit_path %>
