<h1>Zahlungsübersicht</h1>

<%= link_to 'History', debits_path(:art => "history") %>
<%= link_to 'Alle', debits_path %>


<table id='hor-minimalist-b'>
<tr>
    <th>Person</th>
    <th>Verliehen</th>
    <th>Geliehen</th>
</tr>
<% @debits.each do |debit| %>
<% freund = User.where('email like ?',debit.emailuser2).first%>
  <tr>
    <td><a href='/user/<%=freund.id%>'><%= freund.firstname+' '+freund.lastname %></td>
    <% if debit.usersum>0%>
        <td id='verliehen'><a href='/debits/?user=<%=debit.emailuser2%>'><%= debit.usersum.to_s+'€'%></td>
        <td></td>
    <%else%>
        <td></td>
        <td id='geliehen'><a href='/debits/?user=<%=debit.emailuser2%>'><%= debit.usersum.to_s+'€'%></td>
    <%end%>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Debit', new_debit_path %>
