<p id="notice"><%= notice %></p>

<p>
  <b>Vorname:</b>
  <%= @debit.Vorname %>
</p>

<p>
  <b>Nachname:</b>
  <%= @debit.Nachname %>
</p>

<p>
  <b>Betrag:</b>
  <%= @debit.Betrag %>
</p>

<p>
  <b>Datum:</b>
  <%= @debit.Datum %>
</p>

<p>
  <b>Info:</b>
  <%= @debit.Info %>
</p>


<%= link_to 'Edit', edit_debit_path(@debit) %> |
<%= link_to 'Back', debits_path %>
